  <div class="card-body">
    <h5 class="card-title">API keys</h5>
      {{#if canConfigure}}
        <div class="card-columns">
        {{#each model.keys as |key|}}
          {{api-key key=key type=type model=model}}
        {{/each}}
        <div class="card">
          {{#-bs/button "primary" size="sm" class="btn-block text-center" click=(action "showModal")}}
            <div class="card-body">
              <h5 class="card-title mb-0">{{entypo-icon "plus"}} New Key</h5>
            </div>
          {{/-bs/button}}
          {{api-key type=type model=model isModalOpen=isModalOpen}}
        </div>
      </div>
    {{else}}
      <p class="text-muted">API keys are only visible to organization Administrators, or members with the <code>Developer</code> project role. Contact your project administrator to obtain access.</p>
    {{/if}}
  </div>
