<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Project checklist</h5>
    <p class="card-text">Make the most of your project. Follow the steps below to get started in no time!</p>
    <ul class="list-group list-group-flush">
      {{-task
        completed=(if model.hasStructure true)
        route="project.structure"
        routeParam=model.id
        title="Define your structure"
        description="Your content structure defines how your models interact. Modify your structure to interconnnect your data in new ways."
      }}
      {{-task
        completed=(if model.hasContent true)
        route="project.content"
        routeParam=model.id
        title="Create your content"
        description=""
      }}
    </ul>
  </div>
</div>
