<span class="nav-item nav-link disabled">{{-ion "chevron-right"}}</span>

{{#link-to "organization" model.organization.id class="nav-item nav-link" role="tab"}}Organization{{/link-to}}
<span class="nav-item nav-link disabled">{{-ion "chevron-right"}}</span>

{{#link-to "project" model.id class="nav-item nav-link" role="tab"}}Project{{/link-to}}
<span class="nav-item nav-link disabled">{{-ion "chevron-right"}}</span>

{{#link-to "project.structure" model.id class="nav-item nav-link" role="tab"}}Structure{{/link-to}}
{{#link-to "project.content" model.id class="nav-item nav-link" role="tab"}}Content{{/link-to}}
{{#link-to "project.team" model.id class="nav-item nav-link" role="tab"}}Team Members{{/link-to}}
{{#link-to "project.settings" model.id class="nav-item nav-link" role="tab"}}Settings{{/link-to}}

{{outlet}}
