<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top z-depth-1-half">
  {{#link-to "index" class="navbar-brand"}}
    <img src="/assets/images/logo.png" style="height: 30px;" alt="HYDRA" />
  {{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
    {{#if session.isAuthenticated}}
      {{#link-to 'index' class='nav-item nav-link'}}Dashboard{{/link-to}}
      {{outlet "navigation"}}
    {{/if}}
    </ul>
    <ul class="navbar-nav ml-auto">
      {{partial "navigation/organizations"}}
      {{partial "navigation/projects"}}
      {{partial "navigation/user"}}
    </ul>
  </div>
</nav>

