{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      <img src="{{user.model.photoURL}}" class="icon icon-sm mr-1">
      {{user.model.givenName}} {{user.model.familyName}}
      </a>

    <div class="dropdown-menu dropdown-menu-right">
      {{#link-to "settings" class="dropdown-item"}} Settings {{/link-to}}
      {{#link-to "logout" class="dropdown-item"}} Sign Out {{/link-to}}
    </div>
  </li>
{{else}}
  {{#link-to "login" class="nav-item nav-link "}}Sign in{{/link-to}}
{{/if}}
