<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Projects</h5>
    <p class="card-text">Manage your organization's projects.</p>
    <div class="card-columns">
      {{#each model.projects as |project|}}
        {{#link-to "project.index" project.id class="card btn btn-secondary text-center"}}
        <div class="card-body">
          <h5 class="card-title mb-0">{{ project.name }}</h5>
        </div>
        {{/link-to}}
      {{/each}}
      {{#link-to "organization.projects.create" org.id class="card btn btn-primary text-center"}}
        <div class="card-body">
          <h5 class="card-title mb-0">{{entypo-icon "plus"}} New Project</h5>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Organization checklist</h5>
    <p class="card-text">Make the most of your organization. Follow the steps below to get started in no time!</p>
    <ul class="list-group list-group-flush">
      {{-task
        completed=(if model.projects.length true)
        route='organization.projects.create'
        routeParam=model.id
        title="Create a project"
        description="A project is a container inside your organization that allows you to segment out both structure and content itself. A project provides read-level API keys to allow your appliations to retrieve your content."
      }}
      {{-task
        completed=(if (gt model.members.length 1) true)
        route="organization.team"
        routeParam=model.id
        title="Stop. Collaborate and listen."
        description="Collaboration with your team is key. Invite users to join your organization from your settings page."
      }}
    </ul>
  </div>
</div>
