<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Account Settings</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue velit, malesuada vel pellentesque quis, dapibus ut libero. Morbi hendrerit imperdiet nisl, sed ullamcorper augue ornare at. Ut et hendrerit lorem. Proin nisi orci, sollicitudin sed ipsum id, pharetra vehicula augue. Praesent consequat velit id neque facilisis, ut posuere purus rutrum. Duis quis orci eu massa convallis placerat. Sed varius congue odio imperdiet volutpat. Nunc a dignissim elit. Donec sem ante, cursus id elementum suscipit, gravida quis leo. Curabitur malesuada, nulla sit amet bibendum aliquet, dolor sapien vestibulum libero, eget sagittis velit purus ac magna. Maecenas congue, arcu sed tempus eleifend, mi orci congue turpis, eget viverra orci risus id nibh. Suspendisse nec gravida leo.</p>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title">Password</h5>
    {{user/change-password onChange=(route-action "setPassword")}}
  </div>
</div>
